<launch>
    
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="paused" value="false" />
        <arg name="use_sim_time" value="true" />
        <arg name="gui" value="true" />
        <arg name="headless" value="false" />
        <arg name="debug" value="false" />
    </include>

        <param name="robot_description"
        command="$(find xacro)/xacro '$(find robot_model_pkg)/urdf/robot.xacro'"/>
        
<!-- Robot state publisher node -->
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
        <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
        <!--node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui"/-->
        <node name="rviz" pkg="rviz" type="rviz"
        args="-d $(find robot_model_pkg)/robot.rviz" required="true"/>

<!-- Spawn the model -->
        <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
        args="-urdf -model robot_model -param robot_description"/>
    <!-- Cartographer SLAM -->
    <include file="$(find testing_cartographer)/launch/summit.launch">
    
    </include>

</launch>